{
 :name "MAIN - Test detection langue"

 :hosts "localhost"
 :vars {}

 :tasks
 [
   {:name "Detect OS language"
    :shell {:cmd "powershell -Command \"(Get-Culture).TwoLetterISOLanguageName\""}
    :register "os_lang"
   }

   {:name "Show detected language"
    :debug {:msg "{{ os_lang.stdout }}"}
   }

  {:name "Lang"
 :vars {:lang "{{ os_lang.stdout }}"}
 :debug {:msg "{{ install[\"java_\" + lang] }}"}
}
 ]
}
